@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground-rgb);
  background-color: var(--background-rgb);
}

.main-logo {
  color: #000;
  font-family: Martel;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

nav a {
  color: #000;
  font-family: Martel;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.beauty-product-title {
  color: #000;
  font-family: Martel;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.2px;
}

.beauty-product-title span {
  color: #ffaf00;
  font-family: Martel;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.2px;
}

.beauty-product-slogan {
  color: #000;
  font-family: Martel;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.beauty-product-message {
  color: #777;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.view-details-btn {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero-right-image {
  border-radius: 200px 10px 10px 10px;
  background: url("../public/images/Rectangle-277.png"),
    rgb(255, 175, 0) -84.476px 47.831px / 180.475% 100% no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
  width: 267px;
  height: 495px;
  flex-shrink: 0;
}
.meterial-care-title {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.meterial-care-paragraph {
  color: #777;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.company-age-and-client {
  color: #000;
  font-family: Martel;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.company-age-and-client span {
  color: #ffaf00;
  font-family: Martel;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rating-point {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.ratings {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.benefit-chose-us {
  color: #000;
  font-family: Martel;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.benefit-chose-us-message {
  color: #777;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.benefits-us-title {
  color: #000;
  text-align: center;
  font-family: Martel;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.benefits-us-message {
  color: #777;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about-us .a-bit {
  color: #000;
  font-family: Martel;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about-us .about-us-title {
  color: #000;
  font-family: Martel;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.about-us .about-us-paragraph {
  color: #777;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.power-of-purity .title {
  color: #000;
  font-family: Martel;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}
.power-of-purity .message {
  color: #777;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.power-of-purity .sub-title {
  color: #777;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.power-of-purity ul li {
  color: #777;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.power-of-purity .first-img {
  border: 7px solid #fff;
  background: #ffaf00;
  width: 299px;
  height: 370px;
  flex-shrink: 0;
}
.testimoinial .title {
  color: #000;
  font-family: Martel;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.testimoinial .card:hover {
  background: #fff;
  box-shadow: 1px 1px 9.8px 3px rgba(119, 119, 119, 0.25);
  border-radius: 6px;
}
.testimoinial .message {
  color: #777;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.testimoinial .name {
  color: #000;
  font-family: Martel;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.testimoinial .designation {
  color: #000;
  font-family: Martel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.freshness .item {
  color: rgba(0, 0, 0, 0.24);
  font-family: Martel;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer .heading {
  color: #ffaf00;
  font-family: Martel;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.footer .links {
  color: #e8e8e8;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.customer-reviews .title {
  color: #fff;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.customer-reviews .card {
  border-radius: 20px;
  border: 1px solid #1e1f20;
  background: linear-gradient(149deg, #1e1f20 44.21%, rgba(0, 0, 0, 0) 139.75%);
}
.customer-reviews .card:hover {
  background: #fff;
  box-shadow: 1px 1px 9.8px 3px rgba(119, 119, 119, 0.25);
  border-radius: 6px;
}
.customer-reviews .card:hover .name {
  color: #000;
}
.customer-reviews .card:hover .title {
  color: #000;
}
.customer-reviews .card .name {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
}
.customer-reviews .card .title {
  color: var(--white, #e8e9eb);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.customer-reviews .card .rating {
  width: 74.72px;
  height: 14px;
  flex-shrink: 0;
}
.customer-reviews .message {
  color: #777;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.customer-reviews .name {
  color: #000;
  font-family: Martel;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.customer-reviews .designation {
  color: #000;
  font-family: Martel;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.products h2 {
  color: #fff;
  font-family: Poppins;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.products p {
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
